ImagesToComicBookFile/Debug/bin/
ImagesToComicBookFile/Debug/obj/
ImagesToComicBookFile/ImagesToComicBookFile/bin/
ImagesToComicBookFile/ImagesToComicBookFile/obj/
ImagesToComicBookArchiveConverter/.vs/ImagesToComicBookArchiveConverter/v15/Server/sqlite3/db.lock
ImagesToComicBookArchiveConverter/.vs/ImagesToComicBookArchiveConverter/v15/.suo
ImagesToComicBookArchiveConverter/.vs/ImagesToComicBookArchiveConverter/v15/Server/sqlite3/storage.ide
ImagesToComicBookArchiveConverter/.vs/ImagesToComicBookArchiveConverter/v15/Server/sqlite3/storage.ide-shm
ImagesToComicBookArchiveConverter/.vs/ImagesToComicBookArchiveConverter/v15/Server/sqlite3/storage.ide-wal
ImagesToComicBookArchiveConverter/ImagesToComicBookArchiveConverter/Properties/launchSettings.json
